/*$square: 1em;
$borders: #f1c40f; yellow
$x: #e74c3c; red
$o: #3498db; blue*/

body {
	font-size: 100px;
	font-family: 'NTR', sans-serif;
}

p {
	margin: 0;
}

#grid {
	width: 5em;
	height: 5em;
	background-color: purple;
	margin: 0 auto;
}

/*blue*/
#row {
	height: 1em;
	width: 3em;
	border-top: .05em solid #f1c40f;
	border-bottom: .05em solid #f1c40f;
	position: absolute;
	margin-top: 2em;
	margin-left: 1em;
}

/*orange*/
#column {
	width: 1em;
	height: 3em;
	border-left: .05em solid #f1c40f;
	border-right: .05em solid #f1c40f;
	position: absolute;
	margin-top: 1em;
	margin-left: 2em;
}

.square {
	text-align: center;
	position: absolute;
	width: 1em;
	height: 1em;
	/*padding: .3em;*/
	background-color: white;
	box-sizing: border-box;
}

.x {
	color: #e74c3c;
}

.o {
	color: #3498db;
}

#s8 {
	position: absolute;
	margin-left: 1em;
	margin-top: 1em;
}

#s1 {
	margin-left: 2.05em;
	margin-top: 1em;
}

#s6 {
	margin-left: 3.1em;
	margin-top: 1em;
}

#s3 {
	margin-left: 1em;
	margin-top: 2.05em;
}

#s5 {
	margin-left: 2.05em;
	margin-top: 2.05em;
	background-color: aqua;
}

#s7 {
	margin-left: 3.1em;
	margin-top: 2.05em;
}

#s4 {
	margin-left: 1em;
	margin-top: 3.1em;
}

#s9 {
	margin-left: 2.05em;
	margin-top: 3.1em;
}

#s2 {
	margin-left: 3.1em;
	margin-top: 3.1em;
}